<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

f'./{filename[ss]}_5Min.csv' íŒŒì¼ í•˜ë‚˜ì— 5gbê°€ ë„˜ëŠ”ë‹¤ </br>
ê·¸ë˜ì„œ ì˜¤ë˜ ê±¸ë¦¼ ğŸ˜¥ </br>

In [ ]:
import numpy as np
import pandas as pd

# (ì¶”ê°€).. ë°ì´í„° ìš©ëŸ‰ ì¤„ì´ê¸°.. ì¼ë‹¨ì€ í•„ìš”í•œ ë§í¬ë“¤ë§Œ ì¶”ì¶œ..
filtering = pd.read_excel('./ì‚¬ì—…ì§€ë„ë¡œë§Œ_ìµœì¢….xlsx')
filtering.head(3)

# filename = 20221107
filename = []

for xx in range(8): # ë©°ì¹ í• ê»€ì§€
    filename.append(20221107 + xx)

for ss in range(len(filename)):
    df = pd.read_csv(f'./{filename[ss]}_5Min.csv')
    print(filename[ss],'ì¤‘...')
    df.columns = ['ë‚ ì§œ','ì‹œê°„','LINK_ID','ë„ë¡œê¸°ê´€ì½”ë“œ','í†µí–‰ì†ë„']
    df.head(3)

    df2 = df.copy()
    df2.head(3)

    ## ê²½ê¸°ë„

    df2['newone'] = df2['LINK_ID'].astype(str).str[:3]
    df3 = df2[df2['newone'] == '223']
    df3["êµ¬ë¶„"] = ((df3['ì‹œê°„']-1)/100).astype(int)
    df3
    
    HI = []

    for i in range(len(filtering)):
        HI.append(df3[df3['LINK_ID'] == filtering['LINK_ID'].values.tolist()[i]])

    filtering2 = pd.concat(HI)
    filtering2 = filtering2.reset_index(drop=True)
    filtering2

    filtering2.to_excel(f'./íƒœë¸”ë¡œì‹{filename[ss]}.xlsx')
    
print('FIN')

In [ ]:
BYE = []

for jj in range(len(filename)):
    BYE.append(pd.read_excel(f'./íƒœë¸”ë¡œì‹{filename[jj]}.xlsx'))
    
lastone = pd.concat(BYE)
lastone.to_excel('./íƒœë¸”ë¡œì‹_ìµœì¢….xlsx')

In [ ]:
lastone

ì•„ë˜ëŠ” ì´ˆê¸°ì— ì§œë³¸ ì½”ë“œ ë°˜ë³µë¬¸ì„ ì•ˆì¨ì„œ ì—„~ì²­ ê¸¸ë‹¤ (ê°™ì€ ë‚´ìš©ì„ ë°˜ë³µí•¨) </br>
ìµœì¢… ì½”ë“œëŠ” [[ì˜¤ì‚°ì‹œ] ë§í¬ë³„ í†µí–‰ì†ë„ êµ¬í•˜ê¸°_ìµœì¢….ipynb](https://github.com/7rohj/roadlink_avgspeed/blob/main/%5B%EC%98%A4%EC%82%B0%EC%8B%9C%5D%20%EB%A7%81%ED%81%AC%EB%B3%84%20%ED%86%B5%ED%96%89%EC%86%8D%EB%8F%84%20%EA%B5%AC%ED%95%98%EA%B8%B0_%EC%B5%9C%EC%A2%85.ipynb) ì—ì„œ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [27]:
## ì›ë™ë¡œ
k_s = [2230017602,2230017601,2230003500,2230003900,2230004200]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì›ë™ë¡œ/{filename}_ì›ë™ë¡œ_ìƒí–‰.xlsx')

k_s = [2230017501,2230017502,2230003600,2230004000,2230004100]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì›ë™ë¡œ/{filename}_ì›ë™ë¡œ_í•˜í–‰.xlsx')

In [28]:
## ê²½ê¸°ëŒ€ë¡œ

k_s = [2230006203,2230006202,2230006201,2230005200,2230004803,2230004802,2230004801]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ê²½ê¸°ëŒ€ë¡œ/{filename}_ê²½ê¸°ëŒ€ë¡œ_ìƒí–‰.xlsx')

## ê²½ê¸°ëŒ€ë¡œ_í•˜í–‰
k_s = [2230006103,2230006102,2230006101,2230005100,2230004703,2230004702,2230004701]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ê²½ê¸°ëŒ€ë¡œ/{filename}_ê²½ê¸°ëŒ€ë¡œ_í•˜í–‰.xlsx')

In [29]:
## ë‚¨ë¶€ëŒ€ë¡œ

k_s = [2230073400,2230073200,2230073000,2230001602,2230001400]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ë‚¨ë¶€ëŒ€ë¡œ/{filename}_ë‚¨ë¶€ëŒ€ë¡œ_ìƒí–‰.xlsx')

k_s = [2230073300,2230073100,2230072900,2230001501,2230001300]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ë‚¨ë¶€ëŒ€ë¡œ/{filename}_ë‚¨ë¶€ëŒ€ë¡œ_í•˜í–‰.xlsx')

In [30]:
## ì„±í˜¸ëŒ€ë¡œ ë‚®ì€ ì†ë„ .. ì´ìƒì¹˜ ë‚˜ì˜¤ëŠ” ì´ìœ  ì•Œì•„ë‚´ê¸° ë° 

df3[df3['LINK_ID'] == 2230028600]

                 ë‚ ì§œ    ì‹œê°„       LINK_ID    ë„ë¡œê¸°ê´€ì½”ë“œ  í†µí–‰ì†ë„ newone  êµ¬ë¶„
585471     20221108     0    2230028600  46340006  13.0    223   0
1011301    20221108     5  2230028600.0  46340006  13.0    223   0
2389148    20221108    15    2230028600  46340006  16.0    223   0
4381650    20221108    30    2230028600  46340006  16.0    223   0
4933638    20221108    35    2230028600  46340006  16.0    223   0
...             ...   ...           ...       ...   ...    ...  ..
116003126  20221108  2245  2230028600.0  46340006   5.0    223  22
119953174  20221108  2315  2230028600.0  46340006   6.0    223  23
120998121  20221108  2350    2230028600  46340006   9.0    223  23
122311836  20221108  2345    2230028600  46340006   9.0    223  23
122821958  20221108  2355  2230028600.0  46340006  15.0    223  23

[115 rows x 7 columns]

In [31]:
## ì„±í˜¸ëŒ€ë¡œ
k_s = [2230005900,2230005700,2230005302,2230005502,2230026300,2230005503,2230005301,2230028600,2230028200,2230027800]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì„±í˜¸ëŒ€ë¡œ/{filename}_ì„±í˜¸ëŒ€ë¡œ_ìƒí–‰.xlsx')

k_s = [2230006000,2230005800,2230005603,2230005602,2230026400,2230005402,2230005401,2230028500,2230028100,2230027700]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì„±í˜¸ëŒ€ë¡œ/{filename}_ì„±í˜¸ëŒ€ë¡œ_í•˜í–‰.xlsx')

In [32]:
## ì„œë¶€ë¡œ
k_s = [2230159000,2230159100,2230159302,2230347501,2230347901,2230347701,2230347301]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì„œë¶€ë¡œ/{filename}_ì„œë¶€ë¡œ_ìƒí–‰.xlsx')

k_s = [2230158800,2230158900,2230159201,2230347601,2230347801,2230347401,2230347201]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì„œë¶€ë¡œ/{filename}_ì„œë¶€ë¡œ_í•˜í–‰.xlsx')

In [33]:
## ê²½ê¸°ë™ë¡œ

k_s = [2230007902,2230007903,2230007904,2230007905,2230007906,2230007907,2230007908,2230007909,2230007700,2330018732]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ê²½ê¸°ë™ë¡œ/{filename}_ê²½ê¸°ë™ë¡œ_ìƒí–‰.xlsx')

k_s = [2230008002,2230008003,2230008004,2230008005,2230008006,2230008007,2230008008,2230008009,2230007800,2330018812]

A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ê²½ê¸°ë™ë¡œ/{filename}_ê²½ê¸°ë™ë¡œ_í•˜í–‰.xlsx')

In [34]:
## ì˜¤ì‚°ë¡œ

k_s = [2230017300,2230012901,2230012902,2230073500]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì˜¤ì‚°ë¡œ/{filename}_ì˜¤ì‚°ë¡œ_ìƒí–‰.xlsx')

k_s = [2230017400,2230013001,2230013002,2230073600]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ì˜¤ì‚°ë¡œ/{filename}_ì˜¤ì‚°ë¡œ_í•˜í–‰.xlsx')

In [35]:
## ë¬¸ì‹œë¡œ
k_s = [2230160202,2230160201,2230161102,2230161101,2230162000]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ë¬¸ì‹œë¡œ/{filename}_ë¬¸ì‹œë¡œ_ìƒí–‰.xlsx')

k_s = [2230160301,2230160302,2230161001,2230161002,2230162100]
A = []

for i in range(len(k_s)):
    df999 = df3[df3['LINK_ID'] == k_s[i]]
    df999 = df999.sort_values(by=['ì‹œê°„'])
    df999 = df999.reset_index(drop=True)
    df9999 = df999.groupby(['êµ¬ë¶„']).mean()
    
    result = pd.DataFrame(None)
    result['í†µí–‰ì†ë„'] = df9999['í†µí–‰ì†ë„']
    #real_result = result.T
    A.append(result.T)

# 20211107 ê²½ê¸°ë„ ìƒí–‰ í†µí–‰ì†ë„ í•©ì¹¨
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)
real_result

# link id í•©ì¹¨
linkid = pd.DataFrame(None)
linkid['LINK_ID'] =  k_s
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

date = pd.DataFrame(None)
date['ë‚ ì§œ'] =df9999['ë‚ ì§œ']
date = date.T
date

almostdone2 = pd.concat([date,almostdone])
almostdone2

almostdone2.to_excel(f'./ë¬¸ì‹œë¡œ/{filename}_ë¬¸ì‹œë¡œ_í•˜í–‰.xlsx')

ë—